<div *ngIf="showModal" class="fixed inset-0 flex items-center justify-center z-50 bg-gray-800 bg-opacity-75">
    <section class="bg-white rounded-3xl shadow-[0px_4px_4px_rgba(0,0,0,0.25)] p-6 w-[350px] max-w-[90%] max-h-[90vh] overflow-y-auto">
      <div class="flex flex-col justify-center">
        <h2 class="text-2xl font-bold text-neutral-800 text-center mb-4">Create Account</h2>
        <form (ngSubmit)="createNewAccount()" class="flex flex-col gap-3 text-base font-medium text-neutral-800 text-opacity-80">
          <div class="flex flex-col">
            <label for="fullName" class="mb-1">Full Name</label>
            <input [(ngModel)]="newAccount.fullName" [ngModelOptions]="{standalone: true}" type="text" id="fullName" placeholder="Enter Full Name" class="px-4 py-2 bg-violet-50 rounded-[20px] focus:outline-none focus:ring-2 focus:ring-lime-700">
          </div>
          <div class="flex flex-col">
            <label for="username" class="mb-1">Username</label>
            <input [(ngModel)]="newAccount.username" [ngModelOptions]="{standalone: true}" type="text" id="username" placeholder="Enter username" class="px-4 py-2 bg-violet-50 rounded-[20px] focus:outline-none focus:ring-2 focus:ring-lime-700">
          </div>
          <div class="flex flex-col">
            <label for="password" class="mb-1">Password</label>
            <input [(ngModel)]="newAccount.password" [ngModelOptions]="{standalone: true}" type="password" id="password" placeholder="Enter password" class="px-4 py-2 bg-violet-50 rounded-[20px] focus:outline-none focus:ring-2 focus:ring-lime-700">
          </div>
          <div class="flex flex-col">
            <label for="location" class="mb-1">Location</label>
            <select [(ngModel)]="newAccount.location" [ngModelOptions]="{standalone: true}" id="location" class="w-full px-4 py-2 bg-violet-50 rounded-[20px] appearance-none focus:outline-none focus:ring-2 focus:ring-lime-700">
              <option *ngFor="let location of locations" [value]="location">{{ location }}</option>
            </select>
          </div>
          <div class="flex flex-col">
            <label for="type" class="mb-1">Type</label>
            <select [(ngModel)]="newAccount.type" [ngModelOptions]="{standalone: true}" id="type" class="w-full px-4 py-2 bg-violet-50 rounded-[20px] appearance-none focus:outline-none focus:ring-2 focus:ring-lime-700">
              <option *ngFor="let type of accountTypes" [value]="type">{{ type }}</option>
            </select>
          </div>
          <div class="flex justify-end gap-2 mt-4">
            <button type="button" (click)="closeModal()" class="px-4 py-2 bg-red-400 text-white rounded-md hover:bg-red-500">Cancel</button>
            <button type="submit" class="px-4 py-2 bg-lime-700 text-white rounded-md hover:bg-lime-800">Create Account</button>
          </div>
        </form>
      </div>
    </section>
  </div>
  