body {
  background-color: transparent;
  font-family: "Verdana", sans-serif;
}
.id-card-holder {
  width: 350px;
  height: 500px;
  padding: 8px;
  margin: 0 auto;
  background-color: var(--primary); /* Dark Green */
  border-radius: 5px;
  position: relative;
}
.id-card-holder:after,
.id-card-holder:before {
  content: "";
  width: 10px;
  display: block;
  background-color: var(--primary-dark); /* Darker Green */
  height: 140px;
  position: absolute;
  top: 130px;
  border-radius: 5px;
}
.id-card-holder:after {
  right: -5px;
}
.id-card-holder:before {
  left: -5px;
}
.id-card {
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 2px 0px #b9b9b9;
  padding: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Align elements to the bottom */
  align-items: center;
  gap: 8px;
  position: relative;
}

.photo {
  margin-bottom: 20px; /* Add space below the photo */
  z-index: 10;
}

.profile-photo {
  width: 170px;
  height: 165px;
  border-radius: 8px;
  object-fit: cover;
  border: 4px solid var(--primary);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.triangle-bg-left {
  width: 60%;
  height: 40%;
  background: linear-gradient(155deg, var(--primary) 50%, transparent 50%);
  position: absolute;
  top: 0;
  left: 0;
}

.triangle-bg-right {
  width: 100%;
  height: 32%;
  background: linear-gradient(
    -155deg,
    var(--primary-light) 50%,
    transparent 50%
  );
  position: absolute;
  top: 0;
  right: 0;
}

.department {
  width: 100%;
  background-color: var(--primary);
  color: #fff;
  text-align: center;
  padding: 12px 0;
  font-size: 14px;
  font-weight: bold;
  border-radius: 0 0 10px 10px;
}
.header {
  display: flex;
  justify-content: center;
}
.logo {
  width: 80px; /* Smaller logo */
  height: auto;
}

h2 {
  font-size: 18px;
  color: var(--primary);
}
h3 {
  font-size: 14px;
  font-weight: 300;
  color: var(--primary);
}
p {
  font-size: 10px;
  color: #333;
  text-align: center;
}

.id-card-hook {
  background-color: var(--primary-dark);
  width: 100px;
  margin: 0 auto;
  height: 20px;
  border-radius: 5px 5px 0 0;
}
.id-card-hook:after {
  content: "";
  background-color: white;
  width: 65px;
  height: 8px;
  display: block;
  margin: 0px auto;
  position: relative;
  top: 6px;
  border-radius: 4px;
}
.id-card-tag-strip {
  width: 60px;
  height: 50px;
  background-color: var(--primary-light);
  margin: 0 auto;
  border-radius: 5px;
  position: relative;
  top: 12px;
  z-index: 1;
  border: 1px solid var(--primary-dark);
}
.id-card-tag-strip:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--primary-dark);
  position: relative;
  top: 10px;
}
.id-card-tag {
  width: 0;
  height: 0;
  border-left: 140px solid transparent;
  border-right: 140px solid transparent;
  border-top: 140px solid var(--primary-light);
  margin: -160px auto -30px auto;
  z-index: -50;
}
.id-card-tag:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 100px solid #e5e7eb;
  margin: -10px auto -30px auto;
  position: relative;
  top: -98px;
  left: -40px;
}

.id-card-tag:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 28px solid transparent; /* Slightly smaller to fit inside the main triangle */
  border-right: 28px solid transparent; /* Slightly smaller to fit inside the main triangle */
  border-top: 99px solid var(--primary); /* Slightly smaller to fit inside the main triangle */
  margin: -85px auto -30px auto;
  position: relative;
  top: 1px; /* Adjusted to sit on top of the main triangle */
  left: -28px; /* Adjusted to sit on top of the main triangle */
  z-index: 1; /* Ensure it sits on top */
}
