<div class="w-full h-full">
  <div class="  rounded-3xl shadow-xl overflow-hidden relative">
    <img src="assets/logo/vsuHeader.png" class="w-full h-full object-contain ">
  </div>
  <div class="w-full py-4 px-6 my-4 flex justify-between rounded-lg bg-white shadow-md">
    <div>
      <h1 class="font-medium text-2xl  tracking-wide">Kiosk Management</h1>
      <p class="font-thin " >Manage kiosk for clients. Create, edit, delete and view statuses of each kiosk in this section.</p>
    </div>
    <div class="w-16 h-16">
      <app-lottie-animation [loop]="false" animation="confirmation"></app-lottie-animation>
    </div>
  </div>
  <!-- Flex Container -->
  <div class="flex flex-col 2xl:flex-row gap-3 w-full h-full pb-4">
    <!-- Divsion Selection -->
    <div *ngIf="isSuperAdmin" class="flex  2xl:flex-col gap-3 2xl:flex-[1_1_0%]">
      <!-- Item -->
      <button 
      (click)="selectDivision(division)"
      class=" {{selectedDivision == division.id ? 'bg-green-900 text-white':'bg-white'}}  tracking-wide h-12 rounded-lg shadow-md hover:bg-green-900 hover:text-white cursor-pointer flex items-center justify-between px-4 font-medium" 
      *ngFor="let division of divisions">
        {{division.name.toUpperCase()}} <span  class="material-icons hidden 2xl:block"> keyboard_arrow_right </span>
      </button>
      <!-- Add -->
    </div>
    <!-- Item Selection -->
    <div class="bg-white rounded-lg shadow-md flex-[4_4_0%] h-full">
      <div class=" grid grid-cols-3 px-3 py-3 gap-3"> 
        <button 
 
        *ngFor="let kiosk of kiosks; let i = index" 
        class="group  {{kiosk.status == 'maintenance' ? 'bg-yellow-50 border-yellow-500' :'bg-white hover:bg-green-900 hover:text-white hover:border-green-500 '}} h-48 p-4 rounded-lg flex flex-col gap-2 shadow-md border-2 border-solid border-black/10 ">

          <!-- Header -->
          <div class="flex gap-4 items-center">
            <!-- Lottie Container -->
            <div class="w-16 h-12 p-2 rounded-lg bg-green-200 group-hover:bg-yellow-200">
              <app-lottie-animation animation="computer"></app-lottie-animation>
            </div>
            <div class="w-5 h-5 rounded-full {{statusMap[kiosk.status!]}} bottom-4 right-4"></div>
            <div class="font-medium  tracking-wide text-xl flex items-center gap-2">
              KIOSK <span class="font-medium text-4xl">{{i+1}}</span>
            </div>
          </div>
          <!-- Body  -->
          <div class="flex-1 py-2 gap-1 w-full flex flex-col items-start ">
            <div>
              <span class="font-medium">Kiosk Code: </span>
              <span class="opacity-75">{{kiosk.code}}</span>
            </div>
            <div  class="flex-1">
              <span class="font-medium">Last Online: </span>
              <span class="opacity-75">{{(kiosk.last_online  | date:'MM/dd/yyyy hh:mm a')  ?? 'Not used yet.'}}</span>
            </div>
       
            <div class="flex w-full  mt-2">
              <div class="w-full flex justify-between">
                <div class="flex gap-2">
                  <button *ngIf="kiosk.status != 'online'" (click)="selectKiosk(kiosk);openDialog('delete')" class="rounded-lg px-2 flex items-center justify-center py-1 text-white bg-red-500 hover:bg-red-600 ">
                    <span  class="material-icons"> delete </span>
                  </button>
                  <button  (click)="updateKiosk(kiosk)" class="rounded-lg px-2 flex items-center justify-center py-1 text-white bg-green-500 hover:bg-green-600 ">
                    <span  class="material-icons"> edit </span>
                  </button>
                </div>
                <div *ngIf="kiosk.status == 'online'"></div>
                <button (click)="selectKiosk(kiosk);openDialog('maintenance')" class="rounded-lg px-10 py-1 text-white {{statusMap[kiosk.status!]}}">
                  {{kiosk.status == 'online'? 'In Use': kiosk.status != 'maintenance'? 'Available':'Maintenance'}}
                </button>
              </div>
            </div>
          </div>
        </button>
        <button 
        (click)="addKiosk()"
        class="bg-white tracking-wider h-48 font-thin rounded-lg gap-3 shadow-md  hover:bg-green-950 hover:text-white cursor-pointer flex justify-center border-2 border-solid border-black/10 items-center  " 
        >
        <span class="text-4xl font-medium">
          +
        </span>
        <span class="text-xl">NEW KIOSK</span>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Maintenance Modal -->
<app-confirmation
    *ngIf="modalType== 'maintenance'"
    [type]="'custom'"
    animation="yellowWarning"
    title="Change Kiosk Status"
    description="Are you sure you want to toggle status of this kiosk?"
    (onCancel)="closeDialog(false)"
    (onConfirm)="toggleMaintenance(selectedKiosk!)"
></app-confirmation>
<!-- Delete Modal -->
<app-confirmation
    *ngIf="modalType== 'delete'"
    [type]="'custom'"
    animation="warning"
    title="Delete Kiosk?"
    description="Are you sure you want to PERMANENTLY DELETE this kiosk?"
    (onCancel)="closeDialog(false)"
    (onConfirm)="deleteKiosk(selectedKiosk!)"
></app-confirmation>

<app-create-kiosk
  *ngIf="openKioskModal"
  [exisitingkiosk]="selectedKiosk"
  (onClose)="closeDialog($event)"
>

</app-create-kiosk>