<div class="section flex justify-center items-center min-h-screen p-4">
  <div class="flex gap-8 max-w-[1200px] w-full max-md:flex-col">
    <div class="flex flex-col w-[35%] rounded-3xl p-8 max-md:w-full">
      <div class="flex flex-col self-stretch my-auto max-md:max-w-full">
        <h1 id="login" class="text-4xl font-extrabold text-center text-[#22381F] mb-8 max-md:text-3xl">LOGIN</h1>

        <form (ngSubmit)="onSubmit()">
          <div class="flex flex-col w-full mb-6 max-md:max-w-full">
            <label for="username">Username</label>
            <div class="flex items-center gap-4 px-6 py-4 rounded-full border border-gray-300">
              <input id="username" type="text" [(ngModel)]="username" name="username" required class="w-full">
            </div>
          </div>

          <div class="flex flex-col w-full mb-8 max-md:max-w-full">
            <label for="password">Password</label>
            <div class="flex items-center gap-4 px-6 py-4 rounded-full border border-gray-300">
              <input id="password" type="password" [(ngModel)]="password" name="password" required class="w-full">
            </div>
          </div>

          <button type="submit" class="w-full bg-[#22381F] text-white py-2 rounded-full">Login</button>
        </form>

        <div *ngIf="errorMessage" class="mt-4 p-2 bg-red-100 text-red-700 rounded">
          {{ errorMessage }}
        </div>
      </div>
    </div>

    <div class="flex flex-col w-[65%] max-md:w-full">
      <div class="relative flex flex-col items-center text-4xl font-bold text-gray-100 min-h-[700px] max-md:min-h-[400px] rounded-3xl overflow-hidden">
        <img [src]="backgroundImageUrl" class="ml-5 w-full h-full z-0 opacity-80" alt="Background image">
        <div class="absolute inset-0 z-10"></div>
        <div class="z-20 mr-48 bg-[#22381F] px-16 py-8 rounded-[40px_24px_40px_24px] shadow-lg max-md:px-8 max-md:py-4 max-md:text-3xl absolute transform -translate-x-1/2">
          {{ getLoginAs() }}
        </div>
      </div>
    </div>
  </div>
</div>