<section class="flex flex-col">
    <header class="flex flex-wrap items-start self-start text-2xl font-bold text-center text-neutral-800 max-md:max-w-full">
      <h2 class="gap-2.5 self-stretch px-7 py-1.5 text-gray-100 whitespace-nowrap border-solid bg-neutral-800 border-[3px] border-neutral-800 rounded-[30px_30px_0px_0px] shadow-[0px_8px_8px_rgba(0,0,0,0.25)] max-md:px-5">
        Registrar
      </h2>
      <h2 class="gap-2.5 self-stretch px-7 py-1.5 border-solid bg-zinc-400 border-[3px] border-neutral-800 rounded-[30px_30px_0px_0px] shadow-[0px_8px_8px_rgba(0,0,0,0.25)] max-md:px-5">
        Cash Division
      </h2>
      <h2 class="gap-2.5 self-stretch px-7 py-1.5 border-solid bg-zinc-400 border-[3px] border-neutral-800 min-w-[240px] rounded-[30px_30px_0px_0px] shadow-[0px_8px_8px_rgba(0,0,0,0.25)] max-md:px-5">
        Accounting Office
      </h2>
    </header>
    <main class="flex flex-col w-full min-h-[669px] max-md:max-w-full">
      <div class="flex overflow-hidden flex-col justify-center py-px w-full bg-red-600 max-md:max-w-full">
        <div class="flex relative flex-col pt-4 pb-8 w-full min-h-[668px] max-md:max-w-full">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/63d2d8bbe132b2544045f299d617e7a112e8bdd882ebfa0e1c51652ac633da31?placeholderIfAbsent=true&apiKey=f64b8ca6f281475cbe8b66b807b3c3ce" alt="" class="object-cover absolute inset-0 size-full" />
          <div class="flex relative flex-col pr-5 pb-24 pl-10 w-full max-md:pb-24 max-md:pl-5 max-md:max-w-full">
            <div class="flex flex-col w-full max-md:max-w-full">
              <div class="flex flex-wrap gap-3.5 items-center w-full max-md:max-w-full">
                <div class="flex grow shrink gap-1.5 items-center self-stretch my-auto shadow-[0px_2px_2px_rgba(0,0,0,0.25)] w-[109px]">
                  <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/55ec73477250cdbd6bbb7f549722816179125ccf73c49424172fa82aaf8b5adf?placeholderIfAbsent=true&apiKey=f64b8ca6f281475cbe8b66b807b3c3ce" alt="University logo" class="object-contain self-stretch my-auto aspect-square w-[136px]" />
                </div>
                <h1 class="grow shrink gap-1.5 self-stretch py-3.5 pr-3.5 pl-3 my-auto text-3xl font-extrabold text-center whitespace-nowrap bg-white border-solid border-[3px] border-neutral-800 rounded-[31px] shadow-[6px_5px_5px_rgba(0,0,0,0.25)] text-neutral-800 w-[212px]">
                  Registrar
                </h1>
                <div class="flex gap-1 items-center self-stretch my-auto text-xs font-bold text-center text-white whitespace-nowrap min-w-[240px]">
                  <div class="flex flex-col justify-center items-center self-stretch p-2 my-auto rounded-xl bg-neutral-800 min-h-[116px] w-[81px]">
                    <div class="flex gap-1 justify-center items-center text-base">
                      <time datetime="12:00">12:00</time>
                      <span>PM</span>
                    </div>
                    <div class="flex flex-col w-[50px]">
                      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/36b18da669a3dbafa3aacd75887866d0fb426b6b431fde7a1efaf00e531a011b?placeholderIfAbsent=true&apiKey=f64b8ca6f281475cbe8b66b807b3c3ce" alt="Weather icon" class="object-contain w-full aspect-[1.44]" />
                      <span>26°C</span>
                    </div>
                    <span class="gap-1.5 self-stretch w-[43px]">3km/h</span>
                  </div>
                  <div class="flex flex-col justify-center items-center self-stretch py-2 pr-2 pl-2 my-auto rounded-xl bg-neutral-800 min-h-[116px] w-[81px]">
                    <div class="flex gap-1 justify-center items-center text-base">
                      <time datetime="14:00">2:00</time>
                      <span>PM</span>
                    </div>
                    <div class="flex flex-col w-[50px]">
                      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/ad8723f6b2c3a6ad0f02db5ff82c469fd2a63f69a5b49dbb08c64bd22b043222?placeholderIfAbsent=true&apiKey=f64b8ca6f281475cbe8b66b807b3c3ce" alt="Weather icon" class="object-contain w-full aspect-[1.44]" />
                      <span>26°C</span>
                    </div>
                    <span class="gap-1.5 self-stretch w-[43px]">3km/h</span>
                  </div>
                  <div class="flex flex-col justify-center items-center self-stretch px-2 py-2 my-auto rounded-xl bg-neutral-800 min-h-[116px] w-[81px]">
                    <div class="flex gap-1 justify-center items-center text-base">
                      <time datetime="16:00">4:00</time>
                      <span>PM</span>
                    </div>
                    <div class="flex flex-col w-[50px]">
                      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/82f5306a392613aa17d2c3f7052d01aaae064b621625e725f2cbfe595fab27d0?placeholderIfAbsent=true&apiKey=f64b8ca6f281475cbe8b66b807b3c3ce" alt="Weather icon" class="object-contain w-full aspect-[1.47]" />
                      <span>26°C</span>
                    </div>
                    <span class="gap-1.5 self-stretch w-[43px]">3km/h</span>
                  </div>
                </div>
                <div class="flex flex-col grow shrink justify-center items-center self-stretch px-12 py-3 my-auto font-bold text-white rounded-xl bg-neutral-800 min-h-[114px] min-w-[240px] shadow-[0px_5px_5px_rgba(0,0,0,0.5)] w-[233px] max-md:px-5">
                  <div class="flex flex-col max-w-full w-[167px]">
                    <h2 class="text-2xl text-center">Athens</h2>
                    <time datetime="09:03" class="text-6xl max-md:text-4xl">09:03</time>
                    <p class="text-xs text-center">Thursday, 31 Aug</p>
                  </div>
                </div>
                <div class="flex flex-col grow shrink justify-center self-stretch my-auto rounded-xl bg-neutral-800 min-h-[114px] w-[161px]">
                  <div class="flex flex-col w-full">
                    <div class="flex gap-4 justify-center items-center w-full text-xl font-bold text-white whitespace-nowrap">
                      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/6a44c013a2932511c32e6b9e1c8b6f0d9514aa14683936368e6c71a837b3b06c?placeholderIfAbsent=true&apiKey=f64b8ca6f281475cbe8b66b807b3c3ce" alt="USD currency icon" class="object-contain shrink-0 self-stretch my-auto aspect-[1.09] rounded-[62px] w-[37px]" />
                      <span class="self-stretch my-auto">USD</span>
                      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/df9e7d96e950aed018b8b1898e101a1c6d4889f2306cb03cb221de63c4afa9db?placeholderIfAbsent=true&apiKey=f64b8ca6f281475cbe8b66b807b3c3ce" alt="Currency exchange icon" class="object-contain shrink-0 self-stretch my-auto rounded-none aspect-[1.68] w-[57px]" />
                    </div>
                    <div class="flex flex-col justify-center self-center mt-5 w-[90px]">
                      <p class="text-xl font-light text-white">90,6253 ₽</p>
                      <p class="mt-1.5 text-xs font-bold text-center text-amber-300">+0,1208 ₽</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex flex-wrap gap-7 items-end mt-4 w-full max-md:max-w-full">
                <section class="flex overflow-hidden flex-col grow shrink pt-1 pb-36 text-2xl font-bold min-w-[240px] text-neutral-800 w-[464px] max-md:pb-24 max-md:max-w-full">
                  <h3 class="gap-10 self-stretch px-10 text-center bg-yellow-400 rounded-xl border-2 border-solid border-neutral-800 min-h-[40px] max-md:px-5 max-md:mr-1.5">
                    Processing at the Counter
                  </h3>
                  <div class="flex z-10 flex-wrap gap-0 items-center text-3xl text-center whitespace-nowrap min-h-[46px] max-md:mr-1.5">
                    <div class="flex flex-col flex-1 shrink justify-center self-stretch py-0.5 pr-14 pl-14 my-auto bg-white border-2 border-solid basis-0 border-neutral-800 min-h-[46px] min-w-[240px] max-md:px-5">
                      <div class="flex gap-5 justify-between w-full">
                        <span>000</span>
                        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/15eba48187a369e28e8c96c936f4c0ea67de9d34dee36d2dd936f5fe37bdbe53?placeholderIfAbsent=true&apiKey=f64b8ca6f281475cbe8b66b807b3c3ce" alt="Counter icon" class="object-contain shrink-0 my-auto aspect-[0.95] w-[21px]" />
                        <span>R1</span>
                      </div>
                    </div>
                    <div class="flex flex-col flex-1 shrink justify-center self-stretch px-14 py-0.5 my-auto bg-white border-2 border-solid basis-0 border-neutral-800 min-h-[46px] min-w-[240px] max-md:px-5">
                      <div class="flex gap-5 justify-between w-full">
                        <span>000</span>
                        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/81ad4a733a7b74c079b2c719b9b3c59ee2ec1b2235e847991880779d9851087e?placeholderIfAbsent=true&apiKey=f64b8ca6f281475cbe8b66b807b3c3ce" alt="Counter icon" class="object-contain shrink-0 my-auto aspect-[0.95] w-[21px]" />
                        <span>R2</span>
                      </div>
                    </div>
                  </div>
                  <p class="z-10 gap-1.5 self-stretch px-24 py-3.5 text-gray-100 bg-neutral-800 max-md:px-5 max-md:mr-1.5">
                    25 Total In-Queue
                  </p>
                  <div class="flex flex-wrap items-start w-full text-3xl text-center whitespace-nowrap min-h-[46px] max-md:max-w-full">
                    <span class="gap-1.5 self-stretch px-7 bg-white border-2 border-solid border-neutral-800 min-h-[46px] w-[113px] max-md:px-5">000</span>
                    <span class="gap-1.5 self-stretch px-7 bg-white border-2 border-solid border-neutral-800 min-h-[46px] w-[113px] max-md:px-5">000</span>
                    <span class="gap-1.5 self-stretch px-7 bg-white border-2 border-solid border-neutral-800 min-h-[46px] w-[113px] max-md:px-5">000</span>
                    <span class="gap-1.5 self-stretch px-7 bg-white border-2 border-solid border-neutral-800 min-h-[46px] w-[113px] max-md:px-5">000</span>
                    <span class="gap-1.5 self-stretch px-7 bg-white border-2 border-solid border-neutral-800 min-h-[46px] w-[113px] max-md:px-5">000</span>
                  </div>
                </section>
                <div class="flex flex-col grow shrink justify-center px-52 py-24 min-h-[299px] min-w-[240px] shadow-[0px_1px_1px_rgba(0,0,0,0.25)] w-[425px] max-md:px-5 max-md:pb-24 max-md:max-w-full">
                  <div class="flex flex-col justify-center w-full max-w-[107px]">
                    <div class="flex flex-col self-center w-[63px]">
                      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/32de6c23ada3c5a4f7f8b3832a9b28ece03a34afcbe983670f0e34ae2d481f47?placeholderIfAbsent=true&apiKey=f64b8ca6f281475cbe8b66b807b3c3ce" alt="Play button icon" class="object-contain w-full aspect-[1.05]" />
                    </div>
                    <button class="gap-1.5 self-stretch mt-3 w-full text-2xl font-bold text-center text-white">
                      Play Video
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <span class="z-10 gap-1.5 self-start px-7 mt-0 text-3xl font-bold text-center whitespace-nowrap bg-white border-2 border-solid border-neutral-800 min-h-[46px] text-neutral-800 max-md:px-5">
              000
            </span>
            <span class="z-10 gap-1.5 self-start px-7 mt-0 ml-28 text-3xl font-bold text-center whitespace-nowrap bg-white border-2 border-solid border-neutral-800 min-h-[46px] text-neutral-800 max-md:px-5 max-md:ml-2.5">
              000
            </span>
            <span class="z-10 gap-1.5 self-start px-7 mt-0 ml-56 text-3xl font-bold text-center whitespace-nowrap bg-white border-2 border-solid border-neutral-800 min-h-[46px] text-neutral-800 max-md:px-5 max-md:ml-2.5">
              000
            </span>
            <span class="z-10 gap-1.5 self-center px-7 mt-0 max-w-full text-3xl font-bold text-center whitespace-nowrap bg-white border-2 border-solid border-neutral-800 min-h-[46px] text-neutral-800 w-[113px] max-md:px-5">
              000
            </span>
            <span class="z-10 gap-1.5 self-center px-7 mt-0 -mb-5 max-w-full text-3xl font-bold text-center whitespace-nowrap bg-white border-2 border-solid border-neutral-800 min-h-[46px] text-neutral-800 w-[113px] max-md:px-5 max-md:mb-2.5">
    000
  </span>
          </div>
          <footer class="relative px-8 pt-1 pb-4 mt-24 text-base font-bold text-lime-900 bg-zinc-300 max-md:px-5 max-md:mt-10 max-md:max-w-full">
            <p class="overflow-hidden whitespace-nowrap text-ellipsis">
              Announcement - Announcement - Announcement - Announcement - Announcement - Announcement - Announcement - Announcement - Announcement - Announce
            </p>
          </footer>
        </div>
      </div>
    </main>
