/* Custom button styles */
.btn-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  .btn-custom:hover {
    background-color: #2f855a; /* Darker green for hover */
  }
  
  .btn-assistance {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  /* Additional styling */
  h1 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  h2 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  ul {
    margin-top: 1rem;
  }
  