.registrar-title {
  font-size: 40px;
  font-weight: 1000;
}
.form-title {
  font-size: 40px;
  font-weight: 450;
  margin-bottom: 24px;
}
.priority-button,
.regular-button {
  width: 200px;
  height: 200px;
  font-size: 24px;
  font-weight: 500;
}
.button-icon {
  width: 120px;
  height: 120px;
  margin-bottom: 12px;
}

.form-checkbox {
  width: 16px;
  height: 16px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.border {
  border: 1px solid #d1d5db; /* Tailwind's gray-300 */
}

.rounded-md {
  border-radius: 0.375rem; /* Tailwind's rounded-md */
}

.shadow-lg {
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.overflow-y-auto {
  overflow-y: auto;
}

.max-h-48 {
  max-height: 12rem; /* Tailwind's max-h-48 */
}

.cursor-pointer {
  cursor: pointer;
}

.p-2 {
  padding: 0.5rem; /* Tailwind's p-2 */
}

.ml-2 {
  margin-left: 0.5rem; /* Tailwind's ml-2 */
}
