<section class="flex flex-col items-center w-full h-full max-w-full p-4 overflow-y-auto">
  <!-- Header Section -->
  <header class="relative flex items-center w-full px-4 py-5 bg-white rounded-lg shadow-md">
    <div class="z-10 flex items-center w-full max-w-screen-xl mx-auto">
      <div class="flex items-center">
        <img src="{{division?.logo ?? ''}}" alt="Registrar logo" class="w-16 h-16 rounded-full shadow-lg sm:w-[80px] sm:h-[80px]">
      </div>
    </div>
    <div class="absolute top-0 left-0 w-full h-full rounded-lg">
      <img src="{{config.assets.banner}}" alt="VSU background" class="object-cover w-full h-full rounded-lg">
    </div>
  </header>


   <!-- Below Image Header: Registrar and Time Info -->
   <div class="flex flex-col items-center justify-between w-full px-4 py-3 bg-white sm:flex-row sm:px-6 sm:py-4">
    <h1 class="mb-2 text-center registrar-title text-[var(--primary)] sm:mb-0">{{this.division?.name?.toUpperCase()}}</h1>
    <div class="flex items-center gap-2 text-[var(--primary)] sm:gap-4">
      <div class="flex flex-col items-end">
        <time class="text-3xl font-semibold sm:text-4xl">{{ currentTime | date:'h:mm' }}</time>
        <span class="text-sm font-medium sm:text-md">{{ currentPeriod }}</span>
      </div>
      <div class="h-[30px] w-[2px] text-[var(--primary)] sm:h-[40px]"></div>
      <div class="flex flex-col text-left uppercase">
        <span class="text-2xl font sm:text-3xl">{{ currentTime | date:'EEEE' }}</span>
        <span class="text-sm sm:text-md">{{ currentDate | date:'MMMM d, yyyy' }}</span>
      </div>
    </div>
  </div>

  <!-- Main Form Section -->
  <main class="flex flex-col w-full mt-4 bg-white">
    <div class="flex flex-col w-full px-4 py-4 sm:px-6 sm:py-6">
      <h2 class="self-center text-center text-[var(--primary)] form-title">FILL UP FORM</h2>
      <div class="w-full h-px mt-2 mb-6 bg-[#B0B0B0]"></div>

      <div class="p-4 bg-[#f4f4f4] rounded-lg sm:p-6">
        <nav class="flex mb-4">
          <div class="flex flex-col items-center mr-8">
            <div class="flex flex-col flex-1 mr-8">
              <div class="flex items-center mb-1">
   
                <span
                [ngClass]="{
                  'text-[var(--primary)] ':!isFormVisible,
                  'text-gray-400':isFormVisible
                }"
                class="mr-2 text-xl font-bold">1</span>
                <span 
                [ngClass]="{
                  'text-[var(--primary)] ':!isFormVisible,
                  'text-gray-400':isFormVisible
                }"
                class="text-xs font-medium">Basic Information</span>
              </div>
              <div 
              [ngClass]="{
                'text-[var(--primary)] ':!isFormVisible,
                'text-gray-400':isFormVisible
              }"
              class="w-[130%] h-0.5 transition-all duration-300"></div>
            </div>
          </div>
          <div class="flex flex-col items-center">
            <div class="flex flex-col flex-1 mr-8">
                <div class="flex items-center mb-1">
                  <span 
                  [ngClass]="{
                    'text-[var(--primary)] ':!isFormVisible,
                    'text-gray-400':isFormVisible
                  }"
                  class="mr-2 text-xl font-bold">2</span>
                  <span 
                  [ngClass]="{
                    'text-[var(--primary)] ':!isFormVisible,
                    'text-gray-400':isFormVisible
                  }"
                  class="text-xs font-medium">Confirmation</span>
              </div>
              <div 
              [ngClass]="{
                'text-[var(--primary)] ':!isFormVisible,
                'text-gray-400':isFormVisible
              }" 
              class="w-[150%] h-0.5 transition-all duration-300"></div>
            </div>
          </div>
        </nav>


        <!-- Form Step 1: Basic Information -->
        <section *ngIf="!isFormVisible" class="w-full p-6">
          <h2 class="p-2 mb-4 text-lg font-semibold text-gray-800">Basic Information</h2>
          <form class="p-2 space-y-4">
            <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
              <div>
                <label for="services" class="block mb-1 text-sm font-medium text-gray-600">Services</label>
                <div class="relative">
                  <div
                    class="w-full px-3 py-2 text-sm bg-white border border-gray-300 rounded-md cursor-pointer"
                    (click)="toggleDropdown()"
                  >
                    <span *ngIf="selectedServices.length === 0">Select services</span>
                    <span *ngIf="selectedServices.length > 0">{{ showServiceNames()}}</span>
                    <i class="ml-2 fas fa-caret-down"></i>
                  </div>

                  <!-- Dropdown content: visible when isDropdownOpen is true -->
                  <div *ngIf="isDropdownOpen" class="absolute left-0 z-10 w-full mt-2 bg-white border border-gray-300 rounded-md shadow-lg">
                    <div class="p-2">
                      <input
                        type="text"
                        [(ngModel)]="searchTerm"
                        (input)="filterChecklist()"
                        placeholder="Type a service"
                        class="w-full px-3 py-2 border border-gray-300 rounded-md"
                        name="searchTerm"
                        autocomplete="off"
                      />
                    </div>
                    <div class="p-2 overflow-y-auto max-h-48">
                      <div *ngFor="let item of filteredServiceChecklist">
                        <label class="flex items-center">
                          <input
                            type="checkbox"
                            class="form-checkbox"
                            [checked]="item.selected"
                            (change)="toggleSelection(item.id!)"
                            name="service-{{ item.name }}"
                          />
                          <span class="ml-2">{{ item.name }}</span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Service Dropdown -->


              <!-- Other Form Fields -->
              <div>
                <label for="gender" class="block mb-1 text-sm font-medium text-gray-600">Gender</label>
                <select [(ngModel)]="gender" name="gender" id="gender" class="w-full px-3 py-2 text-sm bg-white border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-green-500">
                  <option value="">Select gender</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Other">Other</option>
                </select>
              </div>
              <div>
                <label for="name" class="block mb-1 text-sm font-medium text-gray-600">Name</label>
                <input maxlength="20" [(ngModel)]="customerName" id="name" type="text" placeholder="Type your name (eg. Juan Cruz)" name="name" class="w-full px-3 py-2 text-sm bg-white border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-green-500">
              </div>
              <div>
                <label for="department" class="block mb-1 text-sm font-medium text-gray-600">Department (Optional)</label>
                <select [(ngModel)]="department" name="department" id="department" class="w-full px-3 py-2 text-sm bg-white border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-green-500">
                  <option value="">Select Department</option>
                  <option *ngFor="let department of departments" [value]="department.name" >{{department.name}}</option>
                </select>
              </div>
            </div>
            <div class="mt-4">
              <label for="studentNumber" class="block mb-1 text-sm font-medium text-gray-600">Student number (optional)</label>
              <input [(ngModel)]="studentNumber" name="studentNumber" id="studentNumber" type="text" placeholder="Ex. VSU-2020-8467-91" class="w-full px-3 py-2 text-sm bg-white border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-green-500">
            </div>

            <!-- Priority Selection -->
            <div class="flex justify-center gap-8 p-10 mt-10">
              <button type="button" (click)="handleButtonClick('priority')" class=" border-dashed border-2 border-[var(--primary-light)] flex flex-col p-4 items-center justify-center text-white font-semibold text-lg transition {{selectedType =='priority' ? 'bg-yellow-400':'bg-[var(--primary-dark)]'}} bg-[#2F4A2C] rounded-lg  hover:bg-yellow-300">
                <img src="./assets/kiosk/Priority.png" alt="Priority icon" class="object-contain w-40 h-40">
                <span class="text-shadow">PRIORITY</span>
              </button>
              <button type="button" (click)="handleButtonClick('regular')" class="border-dashed border-2 border-[var(--primary-light)]flex flex-col p-4 items-center justify-center text-white font-semibold text-lg  transition {{selectedType =='regular' ? 'bg-yellow-400':'bg-[var(--primary-dark)]'}} rounded-lg  hover:bg-yellow-300">
                <img src="./assets/kiosk/Regular.png" alt="Regular icon" class="object-contain w-40 h-40">
                <span class="text-shadow">REGULAR</span>
              </button>
            </div>
          </form>
        </section>

        <!-- Form Step 2: Confirmation -->
        <section *ngIf="isFormVisible" class="w-full p-6">
          <h2 class="p-2 mb-4 text-lg font-semibold text-gray-800">Check Info Below</h2>
          <div class="p-2 space-y-4">
            <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
              <div>
                <label class="block mb-1 text-sm font-medium text-gray-600">Services <span *ngIf="selectedServices.length<=0" class="font-thin text-red-400">*Please select at least one service</span></label>
                <div class="w-full px-3 py-2 text-sm bg-white border border-gray-300 rounded-md">{{ showServiceNames() || 'Nothing was selected.' }}</div>
              </div>
              <div>
                <label class="block mb-1 text-sm font-medium text-gray-600">Gender <span *ngIf="gender == ''" class="font-thin text-red-400">*Please specify gender.</span></label>
                <div class="w-full px-3 py-2 text-sm bg-white border border-gray-300 rounded-md">{{ gender || 'Not Specified' }}</div>
              </div>
              <div>
                <label class="block mb-1 text-sm font-medium text-gray-600">Name <span *ngIf="customerName == ''" class="font-thin text-red-400">*Please specify your name</span></label>
                <div class="w-full px-3 py-2 text-sm bg-white border border-gray-300 rounded-md">{{ customerName || 'Not Specified' }}</div>
              </div>
              <div>
                <label class="block mb-1 text-sm font-medium text-gray-600">Department</label>
                <div class="w-full px-3 py-2 text-sm bg-white border border-gray-300 rounded-md">{{ department || 'Not Specificied' }}</div>
              </div>
            </div>
            <div class="mt-4">
              <label class="block mb-1 text-sm font-medium text-gray-600">Student number</label>
              <div class="w-full px-3 py-2 text-sm bg-white border border-gray-300 rounded-md">{{ studentNumber || 'Not Secified' }}</div>
            </div>
            <div class="flex justify-center gap-8 p-10 mt-10">
              <button *ngIf="selectedType=='priority'" type="button" class=" border-dashed border-2 border-green-700/55 flex flex-col p-4 items-center justify-center text-white font-semibold text-lg transition {{selectedType =='priority' ? 'bg-yellow-400':'bg-[#2F4A2C]'}} bg-[#2F4A2C] rounded-lg  hover:bg-yellow-300">
                <img src="./assets/kiosk/Priority.png" alt="Priority icon" class="object-contain w-40 h-40">
                <span class="text-shadow">PRIORITY</span>
              </button>
              <button *ngIf="selectedType=='regular'"  type="button"  class="border-dashed border-2 border-green-700/55 flex flex-col p-4 items-center justify-center text-white font-semibold text-lg  transition {{selectedType =='regular' ? 'bg-yellow-400':'bg-[#2F4A2C]'}} rounded-lg  hover:bg-yellow-300">
                <img src="./assets/kiosk/Regular.png" alt="Regular icon" class="object-contain w-40 h-40">
                <span class="text-shadow">REGULAR</span>
              </button>
            </div>
          </div>
        </section>
      </div>

      <!-- Action Buttons -->
      <div class="flex justify-between mt-6">
        <button *ngIf="isFormVisible" (click)="goBack()" class="px-4 py-2 text-sm font-bold text-gray-800 transition bg-white border border-gray-800 rounded-md sm:px-6 sm:py-3 sm:text-base hover:bg-gray-100">
          PREVIOUS
        </button>
        <button *ngIf="!isFormVisible" class="invisible"></button>
        <button *ngIf="!isFormVisible" (click)="isFormVisible = true" class="px-6 py-3 font-bold text-sm text-white transition bg-[var(--primary)] rounded-lg sm:text-base hover:bg-[var(--primary-hover)]">
          NEXT STEP
        </button>
        <button *ngIf="isFormVisible" (click)="confirmChecklist()" class="px-6 py-3 text-sm font-bold text-white transition bg-[var(--primary)] rounded-lg sm:text-base hover:bg-[var(--primary-hover)]">
          CONFIRM
        </button>
      </div>
    </div>
  </main>

  <!-- Modal for Queue Confirmation -->
  <!-- <div *ngIf="showModal" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div class="w-full max-w-sm bg-white rounded-lg shadow-lg animate-pop sm:max-w-md">
      <div class="relative p-6 overflow-hidden">
        <div class="absolute inset-0 flex items-center justify-center opacity-10">
          <img src="./assets/logo/vsu.png" alt="VSU Logo" class="object-contain w-full h-full">
        </div>

        <div class="relative z-10">
          <div class="bg-[#5F8D4E] text-white text-center py-2 px-4 rounded-lg mb-4">
            <h2 class="text-4xl font-bold">{{ queueNumber }}</h2>
          </div>

          <p class="pb-2 mb-4 text-center text-gray-500 border-b">Welcome, you're currently in the queue</p>
          <div class="space-y-2 text-left">
            <p><span class="font-semibold">Name:</span> {{ customerName || 'N/A' }}</p>
            <p><span class="font-semibold">Services:</span> {{ selectedServices.join(', ') || 'N/A' }}</p>
            <p><span class="font-semibold">Gender:</span> {{ gender || 'N/A' }}</p>
            <p><span class="font-semibold">Department:</span> {{ department || 'N/A' }}</p>
            <p><span class="font-semibold">Student Number:</span> {{ studentNumber || 'N/A' }}</p>
            <p><span class="font-semibold">Time:</span> {{ currentTime | date:'h:mm a' }}</p>
            <p><span class="font-semibold">Date:</span> {{ currentDate | date:'M/d/yy' }}</p>
          </div>

          <p class="mt-6 text-center text-gray-500">Your number will be called shortly.</p>
        </div>
      </div>

      <div class="flex justify-end p-4 bg-gray-100 rounded-b-lg">
        <button (click)="printPDF()" class="px-4 py-2 mr-2 text-sm font-medium text-white transition duration-300 bg-blue-500 rounded-lg hover:bg-blue-600">
          Print Ticket
        </button>
        <button (click)="closeModal()" class="px-4 py-2 text-sm font-medium text-gray-700 transition duration-300 bg-gray-200 rounded-lg hover:bg-gray-300">
          Close
        </button>
      </div>
      <audio [volume]="0.4"  [src]="'assets/audio/notif.mp3'" autoplay></audio>
    </div>
  </div> -->
  <app-feedback
    *ngIf="modal == 'success'"
    title="You're in Line!"
    [description]="successDescription"
    details="Thank you for your patience!"
    animation="check"
    sound="notif.mp3"
    (onClose)="closeFeedback()"
  ></app-feedback>
  <app-feedback
    *ngIf="modal =='priority'"
    title="You are in Line!"
    [description]="successDescription"
    [details]="priorityDetails"
    animation="check"
    sound="notif.mp3"
    (onClose)="closeFeedback()"
  ></app-feedback>

  <app-snackbar></app-snackbar>
  <div *ngIf="isLoading" class="absolute z-10 flex flex-col items-center justify-center w-full h-full overflow-hidden bg-white cursor-wait ">
    <app-lottie-animation class=" w-52 h-52 animate-pop" animation="loader"></app-lottie-animation>
    <div  class="text-sm tracking-wider animate-bounce animate-pop">Please Wait</div>
  </div>
</section>
