.main-container{
  container: queue-main / size;
}

.banner-text{
  line-height: 1.2;
}

@container queue-main (max-width:400px){
  .queue-item-icon,
  .weather-icon{
    width: 0.5rem;
    height: 0.5rem;
  }

  .right-side{
    padding:0.5rem;
  }

}
@container queue-main (min-width:400px) and (max-width:2000px){
  .queue-item-icon,
  .weather-icon{
    width: 0.8rem;
    height: 0.8rem;
  }
}

@container queue-main (max-width: 600px){
  .main-container * {
    line-height: 1;
  }
  

  .loader{
    width: 8rem;
    height: 8rem;
  }

  .waiting{
    width: 3rem;
    height: 3rem;
  }


  .banner-logo{
    width: 3rem;
    height: 3rem;
  }



  .main-content,.queue-item-container,.time-container-inner,.currency-header,.division-banner{
    padding:0.2rem;
  }
  .left-side{
    gap:0.4rem;
  }


  .queue-item-ticket,
  .currency-info,.currency-value,.weather-am-pm,.weather-temperature,

  .serving-item-header,.serving-item-label,.currency-container-inner,.currency-info {
    font-size: 0.3rem;

  } 

  .timezone-container,   .timezone-text{
    font-size: 0.4rem;
  }

  .queue-title,.serving-title,.banner-title,
  .serving-item-header, .current-time-container,.serving-item-content-text{
    font-size: 0.6rem;
    line-height: 1;

  }
  .weather-left-container,   .currency-label,
 .announcement-text,.banner-label{
    font-size: 0.5rem;
  }

  .serving-container{
    padding: 0.2rem;
    gap:0.2rem;
  }
  
  .announcement-banner{
    height: 0.7rem;
  }
  
  .widget-row,.left-side,.right-side,.small-widgets-container,.serving-items,.queue-list-container{
    gap:0.1rem;
  }

  .current-time-milli{
    font-size: 0.2rem;
  }
  .division-banner{
    gap:0.75rem;
  }

  .queue-container-inner{
    gap:0.1rem;
    padding:0.3rem;
  }
  

  .currency-icon-container{
    width: 0.6rem;
    height: 0.6rem;
  }

}

@container queue-main (min-width: 500px) and (max-width:600px){
  .currency-value,.serving-item-content-text,.current-time-container, .currency-value, .weather-left-container, .queue-item-ticket{
    font-size: 0.9em;
  }
  .timezone-container,   .timezone-text{
    font-size: 0.6rem;
  }

}

@container queue-main (min-width:600px) and (max-width:800px){
  .banner-title{
    font-size: 1.2rem;
  }
  .banner-logo{
    width: 4rem;
    height: 4rem;
  }
  .banner-label{
    font-size: 0.8rem;
  }
  
  .serving-item-header,.serving-item-content-text{
    font-size: 0.8rem;
   }
   .serving-item-label{
    font-size: 0.2rem;
   }
   .currency-value,.serving-item-content-text,.current-time-container, .currency-value, .weather-left-container, .queue-item-ticket{
    font-size: 0.9em;
  }
  .timezone-container,   .timezone-text{
    font-size: 0.6rem;
  }
  .current-time-milli{
    font-size: 0.4rem;
  }
  .currency-label{
    font-size:0.9rem;
  }

  .currency-icon-container{
    width: 1rem;
    height: 1rem;
    font-size: 0.8rem;
  }
  .queue-container-inner{
    padding:0.6rem;
  }   

  .main-content{
    padding:0.6rem;
  }
  .weather-left-container{
    font-size: 0.8rem;
  }

  .currency-info,.weather-am-pm{
    font-size: 0.6rem;
  }
  .weather-temperature{
    font-size: 0.6rem;
  }

  .right-side{
    padding: 0.6rem 0rem;
  }
  .queue-item-icon{
    width: 1rem;
    height: 1rem;
  }

  .queue-item-ticket{
    font-size: 0.8rem;
  }
  .queue-item-container{
    padding: 0.2rem 0.4rem;
  }
  .serving-title,.queue-title {
    font-size: 0.8rem;
  }

  .announcement-text{
    font-size: 0.5rem;
  }
  .announcement-banner{
    height: 0.8rem;
  }

}
@container queue-main (min-width:800px) and (max-width:2000px){
  .banner-title{
    font-size: 1.6rem;
  }
  .banner-logo{
    width: 6rem;
    height: 6rem;
  }
  .banner-label{
    font-size: 1.5rem;
  }
  
  .serving-item-content-text{
    font-size: 1.2rem;
   }
   .weather-left-container,   .currency-label{
    font-size: 1.5rem;
  }
  .timezone-text,.timezone-container{
    font-size: 1rem;
  }

  .time-container-inner{
    gap: 0.4rem;
  }
  
  .weather-icon{
    width:  2.4rem;
    height: 2.4rem;
  }
  .announcement-text{
    font-size: 1rem;
   }

  .current-time-container{
    font-size: 1.7rem;
  }

  .current-time-milli{
    font-size: 0.8rem;
  }
 
  .currency-value{
    font-size:1.5rem;
  }
  .queue-container-inner{
    gap:0.2rem;
    padding:1.2rem;
  }
  .queue-item-icon{
    width: 1.8rem;
    height: 1.8rem;
  }
  .queue-title {
    font-size: 1.2rem;
  }
}

@container queue-main (min-width: 600px) and (max-width: 2000px) {

  .main-content *{
    line-height: 1;
  }


  .loader{
    width: 12rem;
    height: 12rem;
  }

  .waiting{
    width: 8rem;
    height: 8rem;
  }

 
  .division-banner{
    gap:1.3em;
  }






}
@container queue-main (min-width: 2000px) and (max-width:3000px){
  .banner-title{
    font-size: 3.5rem;
  }
  .banner-label{
    font-size: 2.5rem;
  }
  .banner-logo{
    width: 15rem;
    height: 15rem;
  }
  .division-banner{
    gap:2.5rem;
  }
  .queue-title {
    font-size: 2.5rem;
  }
  .queue-container-inner{
    gap:0.3rem;
    padding:1.5rem;
  }
  
 
}
@container queue-main (min-width: 3000px){
  .banner-title{
    font-size: 6rem;
  }
  .banner-label{
    font-size: 4rem;
  }
  .banner-logo{
    width: 24rem;
    height: 24rem;
  }
  .division-banner{
    gap:4rem;
  }
  .queue-title {
    font-size: 5rem;
  }
  .queue-container-inner{
    gap:2rem;
    padding:3rem;
  }
  .queue-item-container{
    padding: 1rem;
  }
  .queue-list-container{
    gap: 2rem;
  }
  .timezone-container{
    font-size: 3.5rem;
    line-height: 1.5;
  }

  .currency-label{
    font-size: 5rem;
  }
  .time-container-inner{
    padding: 5rem 1rem;
  }
  .currency-icon-container{
    width: 5rem;
    height: 5rem;
  }
  .currency-value{
    font-size: 5rem;
  }

  .current-time-milli{
    font-size:2.7rem;
    line-height: 1.5;
  }

  .waiting{
    width: 35rem;
    height: 35rem;
  }
  .loader-text{
    font-size: 4rem;
  }
}



