<div (click)="cancel()" class="fixed inset-0 bg-gray-800 bg-opacity-75 flex items-center justify-center z-40">
</div>

<div class="fixed inset-0 w-full h-full flex items-center justify-center animate-pop z-50">
    <div class="  h-auto bg-white rounded-3xl shadow-2xl w-full border-dashed border-2 border-green-600 max-w-sm justify-center pt-3 px-6 pb-6 gap-3  flex flex-col">
        <div class="flex-1 justify-center items-center">
            <div  class="flex flex-col items-center">
                <app-lottie-animation class="w-40 h-40" [loop]="false" [animation]="animation"></app-lottie-animation>
                <div class="text-center font-medium tracking-wide text-2xl"> {{title}} </div>
                <div  class="text-center text-xl text-green-600" [innerHTML]="description" > </div>
                <div *ngIf="details" class="text-center font-thin text-lg" [innerHTML]="details"></div>
            </div>
            
        </div>
        <div class="flex justify-center gap-2 mt-2">
            <button class="text-white px-8 py-1 text-lg rounded-md bg-green-600 cursor-pointer hover:bg-green-500" (click)="cancel()" >Thank You!</button>
        </div>
    </div>
    <audio [volume]="0.4"  [src]="'assets/audio/'+sound" autoplay></audio>
</div>