<section class="relative flex flex-col items-start min-h-screen overflow-hidden bg-lime-900">
  <!-- Background Image that remains fixed -->

  <img
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/2cba961d66b8f4ac84a7ea33550174a78410d2d66f219587d45cabb6030b81fa?placeholderIfAbsent=true&apiKey=f35c25b17acb406083beeda46a28c843"
      class="fixed inset-0 object-cover w-full h-full"
      alt="Background image of the queueing management system" />
  <!-- Dark overlay with opacity adjustment -->
  <div class="fixed inset-0 bg-black bg-opacity-40"></div>

  <!-- Decorative SVG Shape on the right that stays fixed -->
  <svg 
        class="fixed right-0 top-0 w-[500px] h-full max-md:w-[300px]"
       xmlns="http://www.w3.org/2000/svg"
       viewBox="0 0 100 150"
       preserveAspectRatio="none">
    <polygon points="0,0 55,0 100,55 55,150 0,150" fill="#7a9a01" transform="scale(-1, 1) translate(-100, 0)" />
  </svg>

  <!-- Bottom-right image that stays fixed -->
  <img
  
  loading="lazy"
  src="./assets/login/statue.png"
  class="fixed bottom-0 right-0 object-cover w-[555px] h-auto max-md:w-[200px] max-md:h-[200px]"
  alt="Statue Image" />


  <div class="relative z-10 flex flex-col items-start w-full h-screen max-w-full max-md:pr-3">
    <div class="relative flex flex-col justify-between w-full h-full pt-8 pl-10 max-md:pl-3">
      <div class="flex h-full gap-8 max-md:flex-col">
        <!-- Text Content on the left side, aligned to bottom -->
        <div class="flex flex-col justify-end w-6/12 h-full max-md:w-full">
          <!-- Top Left: Logo and University Name -->
          <div class="absolute top-20 left-20 max-md:left-5">
            <header class="flex items-center gap-3 text-3xl font-bold text-white max-md:text-2xl">
              <img loading="lazy"
              [src]="config.assets.logo"
              class="object-contain w-[45px] aspect-[0.97]"
                   alt="Visayas State University logo" />
              <h1 class="w-auto">{{config.texts.title.toUpperCase()}}</h1>
            </header>
          </div>

          <!-- Bottom Left: Queueing System Info and Address, pinned at the very bottom -->
          <div class="flex flex-col mb-20 ml-10 text-white max-md:mb-2">
            <h2 class="text-3xl font-bold max-md:text-2xl">
              QUEUEING MANAGEMENT SYSTEM
            </h2>
            <p class="mt-2 text-lg leading-7">
              Efficient Flow, Seamless Service: <br /> Your Queueing Management Solution!
            </p>
            <address class="flex items-start gap-4 mt-6 text-lg max-md:mt-4">
              <div class="flex gap-2">
                <img 
                    (click)="openExternalLink('https://www.vsu.edu.ph')"
                    loading="lazy"
                     src="https://cdn.builder.io/api/v1/image/assets/TEMP/31fd4b9ea34a63e228f8fb604a3f1d884d27b4160be7793af8d53e0b65722f39?placeholderIfAbsent=true&apiKey=f35c25b17acb406083beeda46a28c843"
                     class="cursor-pointer object-contain w-[40px] aspect-square"
                     alt="Social media icon 1" />
                <img 
                    (click)="openExternalLink('https://www.facebook.com/visayasstateu/')"
                    loading="lazy"
                     src="https://cdn.builder.io/api/v1/image/assets/TEMP/f9b5f4d23117931c46243310db6d001dd0cee5d96cc7fa3c2b2dac839e06a4e6?placeholderIfAbsent=true&apiKey=f35c25b17acb406083beeda46a28c843"
                     class="cursor-pointer object-contain w-[35px] aspect-square"
                     alt="Social media icon 2" />
              </div>
              <div class="flex items-center gap-2 text-base font-medium text-white">
                <img 
                    (click)="openExternalMap()"
                    loading="lazy"
                     src="https://cdn.builder.io/api/v1/image/assets/TEMP/0c78319bb686a1aa34bb1c1e9338e1d06a351a9b327ddf5c26cc06e7ee034993?placeholderIfAbsent=true&apiKey=f35c25b17acb406083beeda46a28c843"
                     class="cursor-pointer object-contain w-[25px] aspect-[0.72]"
                     alt="Location pin icon" />
                <span
                (click)="openExternalMap()"
                class="cursor-pointer"
                >{{config.texts.location}}</span>
              </div>
            </address>
          </div>
        </div>

        <div class="relative z-10 flex flex-col w-6/12 h-full mr-20 max-md:w-full">
          <div class="relative flex flex-col items-center justify-center h-full pt-16 pb-16 ml-12 grow max-md:ml-0">
            <!-- Login Form -->
            <div class="flex relative flex-col px-9 py-12 bg-white rounded-3xl shadow-lg w-[400px] 2xl:w-[500px] max-md:px-4 max-md:w-[90%]">
              <form class="flex flex-col w-full 2xl:space-y-8 space-y-6">
                <h3 class="text-2xl 2xl:text-3xl font-medium text-neutral-800 text-center">
                  Account Log in
                </h3>

                <div class="relative">
                  <!-- <input id="username" type="text"
                         class="w-full px-4 py-3 text-lg text-left transition duration-200 border rounded-lg shadow-sm text-neutral-700 bg-zinc-100 border-zinc-300 focus:outline-none focus:ring-2 focus:ring-green-500 focus:border-green-500"
                         placeholder="Enter Username or email" /> -->
                  <uswagon-auth-input 
                  id="username"
                  [class]="'w-full px-4 py-3 text-lg text-left transition duration-200 border rounded-lg shadow-sm text-neutral-700 bg-zinc-100 border-zinc-300 focus:outline-none focus:ring-2 focus:ring-green-500 focus:border-green-500 z-0'"
                  placeholder="Enter Username or email"
                  type="text"  [name]="'identifier'" [aliases]="['username']" [required]="true" />
                  <span class="absolute inset-y-0 flex items-center pointer-events-none right-3 z-10 text-zinc-400">
                    <i class="fa fa-user"></i>
                  </span>
                </div>

                <div class="relative">
                  <uswagon-auth-input 
                  id="username"
                  [class]="'w-full px-4 py-3 text-lg text-left transition duration-200 border rounded-lg shadow-sm text-neutral-700 bg-zinc-100 border-zinc-300 focus:outline-none focus:ring-2 focus:ring-green-500 focus:border-green-500 z-0'"
                  placeholder="Enter password"
                  type="password"  [name]="'password'" [required]="true" />
                  <span class="absolute inset-y-0 flex items-center pointer-events-none right-3 text-zinc-400">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>

                <div class="flex items-center space-x-2 text-lg text-neutral-700">
                  <input [(ngModel)]="rememberMe" type="checkbox" id="remember"
                         class="w-5 h-5 text-green-600 transition duration-200 rounded border-zinc-300 focus:ring-green-500" />
                  <label for="remember" class="select-none">Remember me</label>
                </div>

                <div 
                  (click)="login()"
                        class="w-full py-3 cursor-pointer text-lg font-bold flex justify-center text-white transition duration-200 bg-[var(--primary)] rounded-lg shadow-md hover:bg-[var(--primary-hover)]">
                  LOG IN
              </div>

            

                <!-- Small Buttons for Roles -->
                <div *ngIf="!selectedRole" class="flex flex-wrap justify-center gap-3 mt-4">
                  <button type="button" class="px-4 py-2 text-sm font-semibold text-green-700 bg-green-100 rounded-full hover:bg-green-200 focus:outline-none"
                          onclick="location.href='/login?role=admin'" tabindex="0">
                    Admin
                  </button>
                  <button type="button" class="px-4 py-2 text-sm font-semibold text-green-700 bg-green-100 rounded-full hover:bg-green-200 focus:outline-none"
                          onclick="location.href='/kiosk'" tabindex="1">
                    Kiosk
                  </button>
                  <button type="button" class="px-4 py-2 text-sm font-semibold text-green-700 bg-green-100 rounded-full hover:bg-green-200 focus:outline-none"
                          onclick="location.href='/login?role=desk_attendants'" tabindex="2">
                    Desk Attendant
                  </button>
                  <button type="button" class="px-4 py-2 text-sm font-semibold text-green-700 bg-green-100 rounded-full hover:bg-green-200 focus:outline-none"
                          onclick="location.href='/queueing-display'" tabindex="3">
                    Queue Display
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="getAuthFeedback()"
  class="absolute bottom-4 right-4 z-50 flex flex-col gap-4 ">
     <ng-container  >
         <div  class="animate-pop flex items-center gap-10 min-w-96 justify-between bg-white rounded-xl  w-auto shadow-md border-2 border-solid {{borderColorMap[getAuthFeedback()!.type]}} h-auto py-2 pl-4 pr-4">
             <div class="flex gap-4 items-center">
                 <div class="w-14 h-14 flex items-center">
                     <app-lottie-animation animation="{{lottieMap[getAuthFeedback()!.type]}}" [loop]="false"></app-lottie-animation>
                 </div>
                 <div class="text-{{bgColorMap[getAuthFeedback()!.type]}}-500  text-lg font-medium text-center">
                     {{getAuthFeedback()!.message}}
                 </div>
             </div>
             <div (click)="closeFeedback()" class="flex items-center rounded-full p-1 bg-gray-200 hover:bg-gray-100 cursor-pointer">
                 <span  class="material-icons text-lg leading-none"> close </span>
             </div>
         </div>
         <audio [volume]="0.4" [src]="getAuthFeedback()!.type !='success' ? 'assets/audio/pop-notif.wav': 'assets/audio/notif.mp3'" autoplay preload="auto"></audio>
     </ng-container>
    </div>

</section>
