<section class="w-full h-full flex flex-col">
        <div class="  rounded-3xl shadow-xl overflow-hidden relative">
            <img src="assets/logo/vsuHeader.png" class="w-full h-full object-contain ">
        </div>
        <!-- Main Container -->
        <div class="flex py-5 flex-row w-full flex-1 gap-5">
            <!-- Edit Contents -->
            <div class="flex-[1_1_0%]">
                <!-- Tabs -->
                <div class="flex">
                    <button  *ngFor="let division of divisions; let i = index" 
                        (click)="selectDivision(division.id)"
                        class="h-10 transition-all {{division.id == selectedDivision ? 'bg-green-600 text-white':'bg-white'}} px-4 flex-1 border-2 border-solid {{ i == 0 ? 'rounded-l-lg': i == 1 ? '':'rounded-r-lg' }} font-medium  hover:bg-green-600 hover:text-white">{{division.name.replace('Division', '').trim().replace('Cash','Cashier')}}</button>
                </div> 
                <div *ngIf="contentLoading" class="h-full w-full flex justify-center items-center bg-white shadow-md rounded-xl border-2 border-solid hover:border-green-500">Loading</div>
                <div *ngIf="!contentLoading" class="flex flex-col  gap-1 h-full bg-white shadow-md rounded-xl border-2 border-solid hover:border-green-500 py-3 px-3">
                    <div class="text-lg px-1"> Edit Contents</div>
                    <div class="px-1 font-thin">Change queue display layout by adjusting these settings.</div>
                    <!-- Uploads Collapsable -->
                    <div class="w-full
                        border-solid border-2 border-gray-300 text-gray-500
                        transition-all 
                        hover:text-green-700
                        rounded-lg
                    "
                    [ngClass]="{'hover:bg-green-100 hover:border-green-600':!collapsables.uploads}"
                    >
                        <div (click)="toggleCollapse('uploads')" class="text-lg  px-2 py-2 flex items-center justify-between">
                            <span>Uploads</span>
                            <span *ngIf="!collapsables.uploads" class="material-icons"> keyboard_arrow_down </span>
                        </div>
                        <div *ngIf="collapsables.uploads" class="px-1 pb-2 gap-1 flex flex-col">
                            <!-- Logo Input -->
                            <div class="flex flex-col">
                                <label for="logo" class=" text-gray-800 px-1">Logo</label>
                                <div (click)="logoInput.click()"  class="w-full h-10 rounded-md 
                                    transition-all
                                    hover:border-green-600 hover:text-green-700 hover:bg-green-100
                                    text-gray-400
                                    border-gray-300 border-2 border-solid 
                                    bg-white cursor-pointer select-none flex items-center px-2 justify-between"> 
                                        <span class="w-full overflow-hidden text-ellipsis whitespace-nowrap">{{files.logo != undefined ? files.logo.name : inputFields.logoUrl ? getLastDirectory(inputFields.logoUrl) : 'Choose Logo Image'}}</span>
                                        <span class="material-icons"> upload_file </span>
                                    </div>
                                <input (change)="onFileChange('logo', $event)" accept="image/*" name="logo"  #logoInput class="hidden" type="file">
                            </div>
                            <!-- Background Image Input -->
                            <div class="flex flex-col">
                                <label for="background" class=" text-gray-800 px-1">Background Image</label>
                                <div (click)="bgInput.click()"   class="w-full h-10 rounded-md 
                                    transition-all
                                    hover:border-green-600 hover:text-green-700 hover:bg-green-100
                                    text-gray-400
                                    border-gray-300 border-2 border-solid 
                                    bg-white cursor-pointer select-none flex items-center px-2 justify-between"> 
                                    <span class="w-full overflow-hidden text-ellipsis whitespace-nowrap">{{files.background != undefined ? files.background.name : inputFields.backgroundUrl ? getLastDirectory(inputFields.backgroundUrl):  'Choose Background Image'}}</span>
                                        <span class="material-icons"> upload_file </span>
                                    </div>
                                <input (change)="onFileChange('background', $event)" accept="image/*" name="background"  #bgInput class="hidden" type="file">
                            </div>
                            <!-- Video Input -->
                            <div class="flex flex-col">
                                <label for="video" class=" text-gray-800 px-1 flex justify-between">
                                    <span>Video</span>
                                    <span class="flex gap-2 items-center">
                                        <span class="material-icons  {{toggles.videoURL ? 'text-green-600':'text-gray-500'}}"> link </span> 
                                        <app-toggle body="w-10 h-5" knob="w-3 h-3" translate="translate-x-5" [(isActive)]="toggles.videoURL"></app-toggle>
                                    </span>
                                </label>
                                <ng-container *ngIf="!toggles.videoURL;else videoURL">
                                    <div (click)="videoInput.click()"  class="w-full h-10 rounded-md 
                                    transition-all
                                    hover:border-green-600 hover:text-green-700 hover:bg-green-100
                                    text-gray-400
                                    border-gray-300 border-2 border-solid 
                                    bg-white cursor-pointer select-none flex items-center px-2 justify-between"> 
                                        <span class="w-full max-w-60 overflow-hidden text-ellipsis whitespace-nowrap">{{files.video != undefined ? files.video.name :inputFields.videoUrl ? getLastDirectory(inputFields.videoUrl): 'Choose Video File'}}</span>
                                        <span class="material-icons"> upload_file </span>
                                    </div>
                                    <input (change)="onFileChange('video', $event)" accept="video/*" name="video" #videoInput class="hidden" type="file">
                                </ng-container>
                                <ng-template #videoURL>
                                    <div  class="w-full h-10 rounded-md 
                                    transition-all
                                    hover:border-green-600 hover:text-green-700 hover:bg-green-100
                                    text-gray-400
                                    border-gray-300 border-2 border-solid 
                                    bg-white cursor-pointer select-none flex items-center px-2 justify-between"> 
                                        <input [(ngModel)]="inputFields.youtubeURL" placeholder="Enter a youtube link" type="text" class="w-full h-full bg-transparent border-none outline-none">
                                        <span class="material-icons"> link </span>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <!-- Widgets  Collasable-->
                    <div class="w-full
                        border-solid border-2 border-gray-300 text-gray-500
                        transition-all 
                        hover:text-green-700
                        rounded-lg
                    "
                    [ngClass]="{'hover:bg-green-100 hover:border-green-600':!collapsables.widgets}"
                    >
                        <div (click)="toggleCollapse('widgets')" class="text-lg  px-2 py-2 flex items-center justify-between">
                            <div class="flex justify-between items-center w-full">
                                    <span>Widgets</span>
                                    <div class="ml-2 flex gap-2 text-green-600 animate-pulse">
                                        <span *ngIf="toggles.time" class="material-icons"> paid </span>
                                        <span *ngIf="toggles.weather" class="material-icons"> sunny </span>
                                        <span *ngIf="toggles.currency" class="material-icons"> payments </span>
                                    </div>
                                </div>
                            <span *ngIf="!collapsables.widgets" class="material-icons"> keyboard_arrow_down </span>
                        </div>
                        <div *ngIf="collapsables.widgets" class="flex flex-col px-1 pb-2 gap-1" >             
                            <!-- Time -->
                            <div class="p-1 border-2 border-gray-300 border-dashed hover:border-green-600 hover:bg-green-100 rounded-md">
                                <div class="flex flex-col">
                                    <div class="flex flex-row w-full justify-between items-center" >
                                        <label class="text-lg text-gray-800 px-1">Time/Clock</label>
                                        <div>
                                            <app-toggle  body="w-10 h-5" knob="w-3 h-3" translate="translate-x-5" [(isActive)]="toggles.time"></app-toggle>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Weather -->
                            <div class="p-1 border-2 border-gray-300 border-dashed hover:border-green-600 hover:bg-green-100 rounded-md">
                                <div class="flex flex-col">
                                    <div class="flex flex-row w-full justify-between items-center" >
                                        <label  class="text-lg text-gray-800 px-1">Weather View</label>
                                        <div>
                                            <app-toggle  body="w-10 h-5" knob="w-3 h-3" translate="translate-x-5" [(isActive)]="toggles.weather"></app-toggle>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Currency -->
                            <div class="p-1 border-2 border-gray-300 border-dashed hover:border-green-600 hover:bg-green-100 rounded-md">
                                <div class="flex flex-col">
                                    <div class="flex flex-row w-full justify-between items-center" >
                                        <label  class="text-lg text-gray-800 px-1">Currency Converter</label>
                                        <div>
                                            <app-toggle  body="w-10 h-5" knob="w-3 h-3" translate="translate-x-5" [(isActive)]="toggles.currency"></app-toggle>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Colors Collapsable -->
                    <div class="w-full
                        border-solid border-2 border-gray-300 text-gray-500
                        transition-all 
                    hover:text-green-700
                        rounded-lg
                    "
                    [ngClass]="{'hover:bg-green-100 hover:border-green-600':!collapsables.colors}"
                    >
                        <div (click)="toggleCollapse('colors')" class="text-lg  px-2 py-2 flex items-center justify-between">
                            <div class="flex justify-between items-center w-full">
                                <span>Colors</span>
                                <div class="ml-2 flex gap-2">
                                    <div class="rounded-full w-7 h-7" [ngStyle]="{backgroundColor: colors.primary_bg}"> </div>
                                    <div class="rounded-full w-7 h-7" [ngStyle]="{backgroundColor: colors.secondary_bg}"> </div>
                                    <div class="rounded-full w-7 h-7" [ngStyle]="{backgroundColor: colors.tertiary_bg}"> </div>
                                    <div class="rounded-full w-7 h-7" [ngStyle]="{backgroundColor: colors.primary_text}"> </div>
                                    <div class="rounded-full w-7 h-7" [ngStyle]="{backgroundColor: colors.secondary_text}"> </div>
                                    <div class="rounded-full w-7 h-7" [ngStyle]="{backgroundColor: colors.tertiary_text}"> </div>
                                </div>
                            </div>
                            <span *ngIf="!collapsables.colors" class="material-icons"> keyboard_arrow_down </span>
                        </div>
                        <div *ngIf="collapsables.colors" class="px-1 pb-2 ">
                            <div class="flex gap-1">
                                <!-- Background Colors -->
                                <div class="flex-1 flex flex-col gap-1">
                                    <!-- Primary Background Input -->
                                    <div class="flex flex-col">
                                        <label  class="text-sm text-gray-800 px-1">Primary Background</label>
                                        <input [(ngModel)]="colors.primary_bg" class="w-full h-10 rounded-md 
                                        transition-all
                                        hover:border-green-600 hover:text-green-700 hover:bg-green-100
                                        text-gray-400
                                        border-gray-300 border-2 border-solid 
                                        bg-white cursor-pointer select-none" type="color">
                                    </div>
                                    <!-- Secondary Background Input -->
                                    <div class="flex flex-col">
                                        <label class=" text-sm text-gray-800 px-1">Secondary Background</label>
                                        <input [(ngModel)]="colors.secondary_bg" class="w-full h-10 rounded-md 
                                        transition-all
                                        hover:border-green-600 hover:text-green-700 hover:bg-green-100
                                        text-gray-400
                                        border-gray-300 border-2 border-solid 
                                        bg-white cursor-pointer select-none" type="color">
                                    </div>
                                    <!-- Tertiary Background Input -->
                                    <div  class="flex flex-col">
                                        <label  class="text-sm text-gray-800 px-1">Tertiary Background</label>
                                        <input [(ngModel)]="colors.tertiary_bg" class="w-full h-10 rounded-md 
                                        transition-all
                                        hover:border-green-600 hover:text-green-700 hover:bg-green-100
                                        text-gray-400
                                        border-gray-300 border-2 border-solid 
                                        bg-white cursor-pointer select-none" type="color">
                                    </div>
                                </div>
                                <!-- Text Colors -->
                                <div class="flex-1 flex flex-col gap-1">
                                    <!-- Primary Background Input -->
                                    <div class="flex flex-col ">
                                        <label  class="text-sm text-gray-800 px-1">Primary Text</label>
                                        <input [(ngModel)]="colors.primary_text" class="w-full h-10 rounded-md 
                                        transition-all
                                        hover:border-green-600 hover:text-green-700 hover:bg-green-100
                                        text-gray-400
                                        border-gray-300 border-2 border-solid 
                                        bg-white cursor-pointer select-none" type="color">
                                    </div>
                                    <!-- Secondary Background Input -->
                                    <div class="flex flex-col">
                                        <label class="text-sm text-gray-800 px-1">Secondary Text</label>
                                        <input [(ngModel)]="colors.secondary_text" class="w-full h-10 rounded-md 
                                        transition-all
                                        hover:border-green-600 hover:text-green-700 hover:bg-green-100
                                        text-gray-400
                                        border-gray-300 border-2 border-solid 
                                        bg-white cursor-pointer select-none" type="color">
                                    </div>
                                    <!-- Tertiary Background Input -->
                                    <div  class="flex flex-col">
                                        <label  class="text-sm text-gray-800 px-1">Tertiary Text</label>
                                        <input [(ngModel)]="colors.tertiary_text" class="w-full h-10 rounded-md 
                                        transition-all
                                        hover:border-green-600 hover:text-green-700 hover:bg-green-100
                                        text-gray-400
                                        border-gray-300 border-2 border-solid 
                                        bg-white cursor-pointer select-none" type="color">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>            
                    <!-- Announcements Collapsable -->
                    <div class="w-full
                        border-solid border-2 border-gray-300 text-gray-500
                        transition-all 
                        hover:border-green-600   hover:text-green-700
                        rounded-lg
                    "
                    [ngClass]="{'hover:bg-green-100 hover:border-green-600':!collapsables.announcements}"
                    >
                        <div (click)="toggleCollapse('announcements')" class="text-lg  px-2 py-2 flex items-center justify-between">
                            <div class="flex flex-row justify-between w-full gap-2 items-center" >
                                <label for="announcement" class="text-lg text-gray-800 px-1">Announcements</label>
                                <div>
                                    <app-toggle  body="w-10 h-5" knob="w-3 h-3" translate="translate-x-5" [(isActive)]="toggles.announcements"></app-toggle>
                                </div>
                            </div>
                            <span *ngIf="!collapsables.announcements" class="material-icons"> keyboard_arrow_down </span>
                        </div>
                        <div class="flex flex-col pb-2 px-1" *ngIf="collapsables.announcements">
                            <textarea
                            placeholder="This will show on queue displays once announcements are enabled"
                            name="announcement"
                            [(ngModel)]="inputFields.announcements"
                            class="w-full h-24 rounded-md
                            py-1 
                            transition-all
                            hover:border-green-600 hover:text-green-700 hover:bg-green-100
                            text-gray-400
                            border-gray-300 border-2 border-solid 
                            bg-white cursor-pointer select-none flex items-center px-2 justify-between"
                            ></textarea>
                        </div>
                    </div>
                    <div class="flex-1"></div>
                    <!-- ACTION BUTTONS -->
                    <div class="flex gap-2 justify-end mt-2">
                        <button (click)="confirmDialog('revert')" class="bg-red-700 w-40 h-10 rounded-lg text-white font-medium">Revert Changes</button>
                        <button (click)="confirmDialog('publish')" class="bg-green-700 w-40 rounded-lg text-white font-medium">Publish Changes</button>
                    </div>
                </div>
            </div>
            <!-- Content View -->
            <div class="flex-[3_3_0%] h-full bg-green-950 shadow-md rounded-xl">
                <div *ngIf="contentLoading" class="h-full w=full bg-green-950 shadow-md rounded-xl text-white flex justify-center items-center"> Loading</div>
            </div>
        </div>
</section>

<app-confirmation
    *ngIf="modalType!= undefined"
    [type]="modalType!"
    (onCancel)="closeDialog()"
    (onConfirm)="updateChanges(modalType)"
></app-confirmation>