<section class="w-full">
  <div class="w-full mx-auto">
    <!-- Overall Metrics Overview and Queue Status -->
    <section class="grid grid-cols-1 gap-6 mb-12 lg:grid-cols-3">
      <!-- Metrics -->
      <div class="lg:col-span-2">
        <div class="flex items-center justify-between mb-6">
          <h2 class="text-2xl font-bold text-neutral-800">Overall Metrics Overview</h2>
          <!-- Filter Dropdown -->
          <select
            [(ngModel)]="selectedFilter"
            (change)="onFilterChange()"
            class="p-2 text-gray-700 bg-white border border-gray-300 rounded-md">
            <option value="day">Day</option>
            <option value="week">Week</option>
            <option value="month">Month</option>
            <option value="year">Year</option>
          </select>
        </div>
        <div class="grid grid-cols-2 gap-4 md:grid-cols-4">
          <ng-container *ngFor="let metric of overallMetrics$ | async">
            <div class="p-6 transition-shadow duration-200 bg-white shadow-sm rounded-xl hover:shadow-md">
              <h3 class="text-sm font-medium text-neutral-600">{{ metric.title }}</h3>
              <p class="mt-2 text-4xl font-bold text-neutral-900">{{ metric.value }}</p>
            </div>
          </ng-container>

          <!-- Additional Metrics for Non-Super Admins -->
          <ng-container *ngIf="!isSuperAdmin">
            <div class="p-6 transition-shadow duration-200 bg-white shadow-sm rounded-xl hover:shadow-md">
              <h3 class="text-sm font-medium text-neutral-600">Available Kiosks</h3>
              <p class="mt-2 text-4xl font-bold text-neutral-900">{{ availableKiosks }}</p>
            </div>
            <div class="p-6 transition-shadow duration-200 bg-white shadow-sm rounded-xl hover:shadow-md">
              <h3 class="text-sm font-medium text-neutral-600">Available Terminals</h3>
              <p class="mt-2 text-4xl font-bold text-neutral-900">{{ availableTerminals }}</p>
            </div>
            <div class="p-6 transition-shadow duration-200 bg-white shadow-sm rounded-xl hover:shadow-md">
              <h3 class="text-sm font-medium text-neutral-600">Total Services</h3>
              <p class="mt-2 text-4xl font-bold text-neutral-900">{{ totalServices }}</p>
            </div>
          </ng-container>
        </div>


        <!-- Service Over Time Chart -->
        <section class="mt-8">
          <h2 class="mb-4 text-2xl font-bold text-neutral-800">Service Over Time</h2>
          <div class="w-full p-6 bg-white shadow-sm chart-container rounded-xl">
            <canvas #canvasElement></canvas>
          </div>
        </section>
      </div>

      <!-- Queue Status -->
      <div class="p-6 bg-white shadow-sm rounded-xl">
        <h3 class="mb-6 text-xl font-bold text-neutral-800">Queue Status</h3>
        <div class="grid grid-cols-1 gap-4">
          <ng-container *ngFor="let queue of queueAnalytics$ | async">
            <div class="flex items-start p-4 rounded-lg shadow-sm bg-gray-50">
              <div class="mr-4 text-gray-400">
                <i class="text-2xl fa fa-clock"></i>
              </div>
              <div>
                <h4 class="font-medium text-neutral-800">{{ queue.office }}</h4>
                <p class="text-sm text-neutral-600">Average wait time: {{ queue.avgWaitTime }}</p>
                <p class="text-sm text-neutral-600">In-Queue: {{ queue.waitingCount }}</p>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </section>

    <!-- Terminal and Kiosk Management Overview and Screen Preview -->
    <section class="grid grid-cols-1 gap-6 mb-12 lg:grid-cols-2">
      <!-- Terminal and Kiosk Management Overview -->
      <div class="p-4 bg-white shadow-sm rounded-xl">
        <h3 class="mb-3 text-lg font-bold text-neutral-800">Terminal and Kiosk Management Overview</h3>
        <div>
          <table class="w-full table-auto">
            <thead class="text-gray-600 bg-gray-100">
              <tr>
                <th class="p-2 text-xs text-left">Name</th>
                <th class="p-2 text-xs text-left">Location</th>
                <th class="p-2 text-xs text-left">Status</th>
                <th class="p-2 text-xs text-left">Tickets Issued</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let kiosk of paginatedKioskStatus">
                <tr class="transition-colors border-b last:border-none hover:bg-gray-50">
                  <td class="flex items-center p-2">
                    <span
                      class="inline-block w-2 h-2 mr-2 rounded-full"
                      [ngClass]="{
                        'bg-green-500': kiosk.status === 'Operational',
                        'bg-red-500': kiosk.status === 'Out of Service',
                        'bg-yellow-500': kiosk.status === 'Low Paper'
                      }"
                      aria-label="Status indicator"></span>
                    <span class="text-sm text-neutral-800">{{ kiosk.id }}</span>
                  </td>
                  <td class="p-2 text-sm text-neutral-600">{{ kiosk.location }}</td>
                  <td class="p-2 text-sm text-neutral-600">{{ kiosk.status }}</td>
                  <td class="p-2 text-sm text-neutral-600">{{ kiosk.ticketsIssued }}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
        <!-- Pagination controls -->
        <div class="flex items-center justify-between mt-4">
          <button
            (click)="onKioskPageChange('prev')"
            [disabled]="kioskCurrentPage === 1"
            class="px-4 py-2 text-white bg-blue-500 rounded disabled:bg-gray-300">
            Previous
          </button>
          <span>Page {{ kioskCurrentPage }} of {{ totalKioskPages }}</span>
          <button
            (click)="onKioskPageChange('next')"
            [disabled]="kioskCurrentPage === totalKioskPages"
            class="px-4 py-2 text-white bg-blue-500 rounded disabled:bg-gray-300">
            Next
          </button>
        </div>
      </div>

      <!-- Screen Preview -->
      <div class="p-6 bg-white shadow-sm rounded-xl">
        <h3 class="mb-4 text-xl font-bold text-neutral-800">Screen Preview</h3>
        <div *ngIf="divisions.length" class="flex mb-4 overflow-hidden rounded-e-md rounded-s-md">
          <button
            *ngFor="let division of divisions"
            (click)="changeContent(division.id)"
            class="flex-1 px-4 py-2 font-medium text-center text-white transition-colors duration-200"
            [ngClass]="{
              'bg-green-500': division.id === selectedDivision,
              'bg-green-600 hover:bg-green-500': division.id !== selectedDivision
            }">
            {{ division.name }}
          </button>
        </div>
        <div class="aspect-[3840/2180] relative w-full rounded-lg overflow-hidden border-2 border-solid border-black/20 flex items-center justify-center">
          <div *ngIf="!content" class="aspect-[3840/2180] w-full bg-black flex font-thin justify-center items-center text-white">
            Division's display has not yet been configured.
          </div>
          <app-queue-display
            *ngIf="content"
            [showAnnouncement]="content.announcement_on === 't'"
            [showBackground]="content.background_on === 't'"
            [showTime]="content.time === 't'"
            [showWeather]="content.weather === 't'"
            [showCurrency]="content.currency === 't'"
            [announcements]="content.announcements ?? ''"
            [videoUrl]="content.video"
            [backgroundUrl]="content.background"
            [logoUrl]="content.logo"
            [mute]="true"
            [disableAPI]="true"
            [colors]="{
              primary_bg: content.primary_bg,
              secondary_bg: content.secondary_bg,
              tertiary_bg: content.tertiary_bg,
              primary_text: content.primary_text,
              secondary_text: content.secondary_text,
              tertiary_text: content.tertiary_text
            }"
            [division]="{
              id: content.division_id,
              name: content.division
            }"
            class="aspect-[3840/2180] w-full"></app-queue-display>
        </div>
      </div>
    </section>

    <!-- Desk Attendant Performance Metrics -->
    <section class="mb-12">
      <h3 class="mb-6 text-xl font-bold text-neutral-800">Desk Attendant Performance Metrics</h3>
      <div class="p-6 bg-white shadow-sm rounded-xl">
        <div class="overflow-y-auto max-h-64">
          <table class="w-full table-auto">
            <thead class="sticky top-0 text-gray-600 bg-gray-100">
              <tr>
                <th class="p-4 text-sm text-left">Name</th>
                <th class="p-4 text-sm text-left">Location</th>
                <th class="p-4 text-sm text-left">Service Provided</th>
                <th class="p-4 text-sm text-left">Avg. Wait Time</th>
                <th class="p-4 text-sm text-left">Customer Rating</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let staff of staffPerformance$ | async">
                <tr class="transition-colors border-b last:border-none hover:bg-gray-50">
                  <td class="p-4">{{ staff.name }}</td>
                  <td class="p-4 text-neutral-600">{{ staff.office }}</td>
                  <td class="p-4 text-neutral-600">{{ staff.ticketsServed }}</td>
                  <td class="p-4 text-neutral-600">{{ staff.avgServiceTime }}</td>
                  <td class="p-4 text-neutral-600">{{ staff.customerRating }}/5</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>
</section>
