<div
 class="absolute bottom-4 right-4 z-50 flex flex-col gap-4 ">
    <ng-container *ngFor="let feedback of getFeedbacks(); let i = index;" >
        <div  class="animate-pop flex items-center gap-10 justify-between bg-white rounded-xl  w-auto shadow-md border-2 border-solid {{borderColorMap[feedback.type]}} h-auto py-2 pl-4 pr-4">
            <div class="flex gap-4 items-center">
                <div class="w-14 h-14 flex items-center">
                    <app-lottie-animation animation="{{lottieMap[feedback.type]}}" [loop]="false"></app-lottie-animation>
                </div>
                <div class="text-{{bgColorMap[feedback.type]}}-500  text-lg font-medium text-center">
                    {{feedback.message}}
                </div>
            </div>
            <div (click)="close(i)" class="flex items-center rounded-full p-1 bg-gray-200 hover:bg-gray-100 cursor-pointer">
                <span  class="material-icons text-lg leading-none"> close </span>
            </div>
        </div>
        <audio [volume]="0.4" id="{{feedback.id}}" [src]="feedback.type !='success' ? 'assets/audio/pop-notif.wav': 'assets/audio/notif.mp3'" autoplay preload="auto"></audio>
    </ng-container>
</div>